@charset "UTF-8";

h1 {
	color: #66bbff;
}

.botao {
	background-color: #66bbff;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 0;
	cursor: pointer;
}

.botao2 {
	background-color: #d51213;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 0;
	cursor: pointer;
}

.caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
}

	#tabela th {
		border: 1px solid #ddd;
		padding: 10px;
		text-align: left;
		background-color: #66bbff;
		color: #fff;
	}
	
	#tabela td {
		border: 1px solid #ddd;
		padding: 10px;
		
	}

#id {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}